#addsite {
  background: #F1F1F2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#addsite .head-back .head-title {
  font-weight: 400;
}
#addsite .addsite {
  margin-top: 3.125rem;
  background: #fff;
  padding-left: .9375rem;
}
#addsite .addsite .site-select span:last-child {
  color: #999999;
}
#addsite .addsite .site-select span:last-child i {
  align-self: center;
  margin-left: .3125rem;
}
#addsite .addsite .site-select input {
  border: none;
  width: 76%;
  outline: none;
}
#addsite .addsite div {
  height: 3.1875rem;
  border-bottom: 1px solid #EEEEEE;
  padding-right: .9375rem;
}
#addsite .addsite div:last-child {
  border-bottom: none;
}
#addsite .save-site {
  margin-top: 3.75rem;
  text-align: center;
}
#addsite .save-site .van-button {
  width: 21.5625rem;
  height: 2.9375rem;
  background: #0EAF0A;
}
