#exam-type {
  background: #f4f4f4;
  height: 100%;
}
#exam-type .head-back .head-title {
  font-weight: 400;
}
#exam-type .exam-detail {
  margin-top: 2.75rem;
  border-top: .3125rem solid #f4f4f4;
  padding: 1.0625rem .875rem 0;
  background: #fff;
  height: 90%;
}
#exam-type .exam-detail p {
  font-size: 1.125rem;
  font-weight: bold;
  color: #312F32;
  padding-left: .625rem;
  margin-bottom: 1.0625rem;
}
#exam-type .exam-detail ul li {
  width: 10.1875rem;
  height: 1.875rem;
  background: #F1F1F2;
  color: #333;
  margin-bottom: .6875rem;
  text-align: center;
  font-size: .75rem;
  line-height: 1.875rem;
}
#exam-type .exam-detail ul .active {
  color: #fff;
  background: #312F32;
}
#exam-type .exam-detail .exam-submit {
  text-align: center;
  width: 21.6875rem;
  height: 2.9375rem;
  background: #0EAF0A;
  line-height: 2.9375rem;
  color: #fff;
  font-size: 1.125rem;
  position: fixed;
  bottom: 3.75rem;
}
