#student {
  background: #F0F0F1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#student .head-back .head-title {
  font-weight: 400;
}
#student .student {
  padding-top: 3.125rem;
}
#student .student > li {
  margin-bottom: .3125rem;
  background: #fff;
  padding: .625rem .9375rem;
}
#student .student > li .student-easyinfo {
  font-size: .875rem;
}
#student .student > li .student-easyinfo img {
  margin-right: .625rem;
  border-radius: 50%;
  width: 2.8125rem;
  height: 2.8125rem;
}
#student .student > li > ul {
  margin-top: .9375rem;
}
#student .student > li > ul li {
  margin-bottom: .625rem;
  border-bottom: .0625rem solid #EEEEEE;
}
#student .student > li > ul li div {
  font-size: .875rem;
  color: #999;
}
#student .student > li > ul li div:last-child {
  margin: .625rem 0;
  font-size: 1rem;
  color: #333;
}
#student .student > li > ul li:last-child {
  border: none;
}
