#firend .firend {
  padding: 3.375rem .875rem 0;
}
#firend .firend .search-input {
  position: relative;
}
#firend .firend .search-input input {
  width: 20rem;
  height: 1.875rem;
  border-radius: .9375rem;
  background: #F1F1F2;
  border: none;
  outline: none;
  font-size: .8125rem;
  padding-left: 2.8125rem;
}
#firend .firend .search-input .icon-sousuo {
  color: #8E8E93;
  position: absolute;
  top: 50%;
  left: 1.1875rem;
  transform: translateY(-50%);
}
#firend .firend .contact li {
  border-bottom: .0625rem solid #eee;
  padding: 1.0625rem 0 1.0625rem;
}
#firend .firend .contact li .userinfo img {
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  margin-right: .625rem;
}
#firend .firend .contact li .userinfo div {
  font-size: .875rem;
}
#firend .firend .contact li .userinfo div p {
  margin-bottom: .375rem;
}
#firend .firend .contact li .userinfo div span {
  color: #999999;
  font-size: .75rem;
}
