#send-topic .head-back .head-right {
  font-size: .875rem;
  color: #0EAF0A;
}
#send-topic .send-topic {
  padding-top: 3.6875rem;
}
#send-topic .send-topic .send-text {
  padding: 0 .9375rem;
}
#send-topic .send-topic .send-text .sendtext {
  box-sizing: border-box;
  width: 100%;
  border: none;
  font-size: .875rem;
  min-height: 9.375rem;
  max-height: 9.375rem;
  resize: none;
}
#send-topic .send-topic .send-text .select-topic {
  border-bottom: .0625rem solid #F1F1F2;
  height: 2.5rem;
  color: #999;
  font-size: .75rem;
  margin-bottom: 1.125rem;
}
#send-topic .send-topic .send-text .select-topic span {
  line-height: 2.5rem;
  color: #0EAF0A;
  font-size: 1rem;
  margin-right: .625rem;
}
#send-topic .send-topic .send-text .send-img li {
  flex-shrink: 0;
}
#send-topic .send-topic .send-text .send-img .send-imgs {
  width: 5.125rem;
  height: 5.125rem;
  margin-right: .3125rem;
  margin-bottom: .4375rem;
  position: relative;
  border-radius: .25rem;
}
#send-topic .send-topic .send-text .send-img .send-imgs .van-icon {
  width: 1.1875rem;
  height: 1.1875rem;
  text-align: center;
  line-height: 1.125rem;
  border-radius: 50%;
  background: #989898;
  position: absolute;
  top: .3125rem;
  right: .3125rem;
}
#send-topic .send-topic .send-text .send-img .send-imgs .imglists {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#send-topic .send-topic .send-text .send-img .send-imgs .imglists img {
  width: 100%;
}
#send-topic .send-topic .send-text .send-img .send-imgs:nth-child(4n) {
  margin-right: 0;
}
#send-topic .send-topic .send-text .send-img .van-uploader {
  width: 5.125rem;
  height: 5.125rem;
  text-align: center;
  line-height: 5.125rem;
  background: #F0F0F1;
  border-radius: .25rem;
  position: relative;
}
#send-topic .send-topic .send-text .send-img .van-uploader p {
  width: 5.125rem;
  font-size: .75rem;
  color: #999999;
  position: absolute;
  bottom: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
}
