#home {
  height: 100%;
  background: #f4f4f4;
}
#home .home-head {
  padding: .625rem 0 .5rem;
  background: #303032;
}
#home .home-head .toptab {
  padding: 0 1.125rem;
  margin-bottom: .25rem;
}
#home .home-head .toptab img {
  width: 1.0625rem;
  height: 1.0625rem;
}
#home .home-head .toptab .navTab {
  flex-shrink: 0;
  color: #fff;
  font-size: .9375rem;
  height: 2.1875rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
#home .home-head .toptab .navTab li {
  position: relative;
  height: 1.75rem;
  margin-right: 1.5625rem;
}
#home .home-head .toptab .navTab li:last-child {
  margin-right: 0;
}
#home .home-head .toptab .navTab .active {
  color: #0BBE06;
}
#home .home-head .toptab .navTab .active::after {
  content: "";
  display: block;
  background: #0BBE06;
  width: 1rem;
  height: .1875rem;
  border-radius: .09375rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#home .home-head .search {
  padding-left: 1.125rem;
}
#home .home-head .search .searchinput {
  padding-left: 2.5625rem;
  line-height: 2.25rem;
  width: 19.1875rem;
  height: 2.25rem;
  color: #8E8E93;
  font-size: .8125rem;
  background: #3A3A3C;
  border-radius: 1.125rem;
  position: relative;
}
#home .home-head .search .searchinput .icon-sousuo,
#home .home-head .search .searchinput .icon-htmal5icon13 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#home .home-head .search .searchinput .icon-sousuo {
  left: 1.25rem;
}
#home .home-head .search .searchinput .icon-htmal5icon13 {
  right: 1.3125rem;
}
#home .home-head .search .rank {
  flex-shrink: 0;
  color: #8E8E93;
  text-align: center;
  margin-left: .4375rem;
}
#home .home-head .search .rank .icon-paihangbang {
  font-size: 1.25rem;
}
#home .home-head .search .rank p {
  text-align: center;
  font-size: .6875rem;
}
#home .home {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#home .home .swiper-container {
  background: #fff;
  height: 11.875rem;
  margin-bottom: .3125rem;
}
#home .home .swiper-container .swiper-slide {
  overflow: hidden;
}
#home .home .swiper-container .swiper-slide img {
  width: 100%;
}
#home .home .swiper-container .swiper-pagination-bullet-active {
  background: #0EAF0A;
  width: 1rem;
  border-radius: .25rem;
  transition: .3s;
}
#home .home .tj-title {
  font-size: .9375rem;
  color: #4A4A4A;
  margin-bottom: .9375rem;
}
#home .home .tj-title > p {
  font-weight: bold;
}
#home .home .tj-title div span {
  display: block;
  color: #999999;
  font-size: .8125rem;
  text-align: center;
  line-height: 1.25rem;
  border-radius: .25rem;
}
#home .home .tj-title div span:first-child {
  width: 3rem;
  height: 1.25rem;
  background: #EEEEEE;
}
#home .home .tj-title div span:last-child {
  border-left: .0625rem solid #eee;
  padding-left: .5625rem;
  margin-left: .625rem;
  border-radius: 0;
}
#home .home .tj-video {
  background: #fff;
  padding: 1rem .9375rem 0;
  margin-bottom: .3125rem;
}
#home .home .tj-video .tj-videos .tj-big {
  width: 21.6875rem;
  height: 10.625rem;
  margin-bottom: .6875rem;
  position: relative;
  background: #333;
  border-radius: .375rem;
}
#home .home .tj-video .tj-videos .tj-big > img {
  width: 100%;
  height: 100%;
}
#home .home .tj-video .tj-videos .user-info {
  position: absolute;
  left: .6875rem;
  bottom: .625rem;
}
#home .home .tj-video .tj-videos .user-info img {
  width: 100%;
  height: 100%;
}
#home .home .tj-video .tj-videos .user-info div {
  font-size: .75rem;
  color: #fff;
}
#home .home .tj-video .tj-videos .user-info div img {
  width: 1.375rem;
  height: 1.375rem;
  flex-shrink: 0;
  border-radius: 50%;
  margin-right: .25rem;
}
#home .home .tj-video .tj-videos .user-info p {
  color: #fff;
  font-weight: 600;
  font-size: .875rem;
  margin-top: .4375rem;
}
#home .home .tj-video .tj-videos .like {
  position: absolute;
  right: 0;
  top: 0;
  padding: .3125rem .25rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: .75rem;
}
#home .home .tj-video .tj-videos .like i {
  margin-right: .25rem;
}
#home .home .tj-video .tj-videos .tj-vlist li,
#home .home .tj-video .tj-videos .ws-list li {
  background: #333;
  flex-shrink: 0;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: .375rem;
  margin-bottom: .625rem;
  position: relative;
}
#home .home .tj-video .tj-videos .tj-vlist li > img,
#home .home .tj-video .tj-videos .ws-list li > img {
  width: 100%;
  height: 100%;
}
#home .home .tj-video .tj-videos .ws-list li {
  width: 6.75rem;
  height: 6.75rem;
}
#home .home .tj-video .topic-hot {
  margin-top: 1.25rem;
  background: #fff;
}
#home .home .tj-video .topic-hot .tj-title > span {
  color: #999;
  font-size: .8125rem;
}
#home .home .tj-video .topic-hot .topiclist {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
#home .home .tj-video .topic-hot .topiclist li {
  flex-shrink: 0;
  margin-right: .625rem;
  width: 14.125rem;
  height: 13.6875rem;
}
#home .home .tj-video .topic-hot .topiclist li > img {
  width: 100%;
  height: 8.75rem;
  margin-bottom: .75rem;
}
#home .home .tj-video .topic-hot .topiclist li span {
  color: #333;
}
#home .home .tj-video .topic-hot .topiclist li p {
  margin-top: .1875rem;
  color: #999999;
  font-size: .875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#home .switchVideo {
  width: 100%;
  padding: 1.25rem .875rem 5rem;
  background: #fff;
  position: relative;
  overflow: hidden;
}
#home .switchVideo li {
  width: 10.5rem;
  border-radius: .375rem;
  overflow: hidden;
  float: left;
  margin-right: 3%;
  margin-bottom: 3%;
  position: relative;
}
#home .switchVideo li img {
  width: 100%;
  vertical-align: middle;
}
#home .switchVideo li > div {
  position: absolute;
  bottom: .6875rem;
  left: .6875rem;
}
#home .switchVideo li > div img {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
}
#home .switchVideo li:nth-child(2n) {
  margin-right: 0;
}
